@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;

}
a{
	text-decoration:none;
}
.box{
	width:28vw;
	height: 70vh;
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
	margin-left: -5vw;
	padding-left: 3vw;
}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img {
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}
.price{
	color: #333333;
	font-weight: 600;
	font-size: 1.1rem;
	font-family: poppins;
	letter-spacing: 0.5px;
}
.overlay1{
	position: absolute;
	left: 45%;
	top: 45%;
	transform: translate(-50%,-50%);
	width:90%;
	height: 90%;
	background-color: rgba(0,0,0,0.6);
	display: block;
	justify-content: center;
	align-items: center;
}
.Crinkle{
	width: 100%;
	height: 20vh;
	background: red;
	margin-top: 30vh;
}
.buy-btn{

	color:white;
	font-weight: bold;
	font-family: georgia;
	font-size: 20px;
	margin-top: 40vh;
	padding-bottom: 3vh;

}

.btnflech{
width: 8vw;
height: 10vh;
color: white;
float:right;
background: #F98169;
border: 1px solid #F98169;
text-align: center;
justify-content: center;
align-items: center;
margin-top:0.5vh;
}
.flech{
	width: 5%;
}
.desc2{
	font-family: Muli;
	font-weight: 300;
	font-size: 12px;
	display: flex;
	color: white;
	margin-top: -5vh;
	justify-content: center;
	align-items:center;
}
.overlay1{
	visibility: hidden;
}
.slide-img:hover .overlay1{
	visibility: visible;
	animation:fade 0.5s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
